.MuiOutlinedInput-root {
  border-color: #392C7E !important;
}

.Mui-focused fieldset {
  border-color: #392C7E !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #392C7E !important;
}

.css-101ca9i-MuiTypography-root-MuiLink-root {
  color: #392C7E !important;
  text-decoration-color: grey !important;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
  background-color: #392C7E !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: #392C7E !important;
}

.css-1999axt-MuiAvatar-root {
  background-color: #392C7E !important;
}

.css-ag7rrr-MuiTypography-root {
  font-weight: 600 !important;
}

.css-o5srbh-MuiPaper-root-MuiAppBar-root {
  background-color: #392C7E !important;
  color: #808080 !important;
}

.css-uh02xs-MuiTypography-root {
  font-weight: 600 !important;
}

.css-n7rtur-MuiPaper-root-MuiAppBar-root {
  background-color: #392C7E !important;
  color: #808080 !important;
}

.css-cveggr-MuiListItemIcon-root {
  color: #808080 !important
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: #808080 !important
}

.css-dsuxgy-MuiTableCell-root {
  border-bottom: 1px solid #392C7E !important;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: #392C7E !important;
}

.css-1gtsu6b-MuiAvatar-root{
  color:#808080 !important
}
.css-mkzahr-MuiListSubheader-root {
  background-color: #392C7E !important;
  color: Grey !important;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  color: #808080 !important;
}

.css-10hburv-MuiTypography-root {
  font-weight: 600 !important;
}

.css-gi7hi0-MuiTypography-root {
  color: #392C7E !important
}

.css-1slnj5u-MuiPaper-root {
  background-color: #808080 !important;
}

.compose {
  font-weight: 600 !important;
  margin-bottom: 30px !important; 
  color: #392C7E !important;
  background-color: #808080 !important;
  border-radius:3px !important;
}

.logOut {
  text-decoration: none;
  color: #808080;
  font-weight: 400;
}

.logoHeading {
  font-family: Arial, sans-serif;
  font-size: 2rem !important;
  color: #392C7E;
  background: linear-gradient(to left, #808080, #392C7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.login {
  overflow-y: hidden !important;
}