.MuiOutlinedInput-root{
  border-color: black !important;
} 

.Mui-focused fieldset{
  border-color: black !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color:black !important;
}
.css-101ca9i-MuiTypography-root-MuiLink-root {
  color:black !important;
  text-decoration-color:grey !important;
}
.css-1vhaqj4-MuiButtonBase-root-MuiButton-root{
  background-color: black !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{
  color: black !important;
}
.css-1999axt-MuiAvatar-root{
  background-color: black !important;
}
.css-ag7rrr-MuiTypography-root{
  font-weight: 600 !important;
}
.logoHeading{
  font-family: Arial, sans-serif;
  font-size: 2rem !important;
  color: black;
  background: linear-gradient(to left, #808080, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.login{
  overflow-y: hidden !important;
}